@{
    ViewBag.Title = "FAQ";
}

<h2>Preguntas Frecuentes</h2>
<hr/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Cómo subo una foto?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Para subir una fotografía es necesario en primer lugar estar registrádo. Si ya está registrado deberá acceder a su cuenta
                y le aparecerá en el menú izquierdo la opción 'Subir Foto'. Pinche sobre ella, elija la fotografía a subir, rellene sus datos y pulse 
                'Subir'.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Comprar
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                Para comprar una fotografía vaya a 'Market', allí podrá ver todas las fotografías a la venta del portal. Pinche sobre una y pulse el botón comprar.
                Deberá estar registrado para poder realizar la compra.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Vender Fotografías
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Para poner a la venta una fotografía deberá estar registrado, y además guardar en la aplicación su número de cuenta. De esta manera se le podrá ingresar el
                dinero de sus ventas. Una vez registrado, al subir una fotografía marque la opción 'Poner en Venta' he introduzca el precio que quiere poner a la
                fotografía. También podrá poner a la venta otras fotografías que haya subido a la aplicación desde su Perfil. En 'Mis Fotos'.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Editar Perfil
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Para editar su información vaya a la opción de 'Perfil'. En el apartado de 'Mi Perfil', seleccione 'Editar Perfil', modifique los datos que desee y pulse
                'Guardar'. Si desea modificar su fotografía de Usuario, pulse el botón 'Cambiar foto de Perfil'.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   Borrar Cuenta
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Para editar su información vaya a la opción de 'Perfil'. En el apartado de 'Mi Perfil', seleccione 'Borrar Perfil'.
            </div>
        </div>
    </div>
    
    <div class="other-FAQ row">
        <p>¿Tiene más dudas? Dirijase a nosotros en la sección Contact Us.</p>
    </div>

</div>
