@{
    ViewBag.Title = "Error 404";
}

<div class="jumbotron">
    <h2>Error 404</h2>
    <hr/>
    <p>La página solicitada no existe o no está disponible</p>
    <a href="~/Home/Index" class="btn btn-info">Volver a Inicio</a>
</div>
