<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Documento sin título</title>
</head>

<body>
    <img src="~/Images/EmailTemplate2.gif" alt="emailTemplate" />
    <div class="email-content">
        <h2>Aquí tiene su Compra</h2>
        <hr />
        <p>Muchas Gracias por comprar en Zoom3web. Aquí tiene el resumen de su compra:</p>
        <div>{1}</div>
    </div>
</body>
</html>

<style>
    .email-content {
        min-height: 490px;
        width: 70%;
        border: 2px solid #A1B2A6;
        border-radius: 5px;
        position: absolute;
        margin-top: -635px;
        padding: 10px;
        margin-left: 43px;
        background-color: white;
    }
</style>