@model Zoom3Web.UserData

@{
    ViewBag.Title = "Recuperar Contraseña";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal well" style="color: black;">
        <h4>Login Zoom3</h4>
        <p>Introduzca su email y le enviaremos un email para restablecer su contraseña</p>
        <hr />

        <div class="form-group">
            @Html.Label("Email", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.US_Email, new { @class = "form-control", @placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.US_Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-info" value="Send" />
            </div>
        </div>

    </div>
}