@model Zoom3Web.UserData

@{
    ViewBag.Title = "Compra - Confirmación";
}

<h2>Compra</h2>
<hr />


<ul class="breadcrumb">
    <li><a href="/ShoppingCart/CartStep1">Compra - Paso 1</a></li>
    <li><a href="/ShoppingCart/CartStep2">Compra - Paso 2</a></li>
    <li class="active">Compra - Paso 3</li>
</ul>

<div class="col-md-12">
    <h2>Enorabuena</h2>
    <hr />
    <p>Su compra se ha realizado con éxito. Hemos mandado un email a su cuenta con su compra.</p>
    <p>Gracias por comprar en Zoom3</p>
</div>